*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
    background-color: 0 4px 6px rgba(0, 0, 0, 0.1);
}

main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 30px;
}
.bars{
    font-family:  Consolas, monaco, monospace;
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: black;
    padding: 15px 20px;
    gap: 15px;
    transition: all 0.5s;

}
.link:hover{
    background: white;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: white;
    color: #000;
}
.icon, .link_text{
    font-size: 15.5px;
   font-family:  Consolas, monaco, monospace;
}